<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<title>Jison / <%= @item[:title] %></title>
  	<link rel="stylesheet" href="/jison/assets/styles/style.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
  	<div id="header">
  		<h1><a href="/jison/">Jison</a></h1>
  	</div>
  	<ul id="nav">
  	  <li><a href="/jison/docs/">docs</a></li>
  	  <li><a href="/jison/demos/">demos</a></li>
  	  <li><a href="/jison/try/">try</a></li>
  	  <li><a href="/jison/docs/#installation">install</a></li>
  	  <li><a href="/jison/community/">community</a></li>
    </ul>
    <div id="content">
      <%= yield %>
    </div>
  	<p id="footer">By <a href="http://zaa.ch">Zach Carter</a>, 2010. MIT Licensed.</p>
  	
    <a href="http://github.com/zaach/jison"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3555129-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>
