
## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules/


# Apple Crap
.DS_Store

# more npm dung
npm-debug.log

# Editor backup files
*.bak
*~

# Generated web content directories (nanoc output)
web/tmp/
web/crash.log

# ignore the compiler output for any examples:            
/examples/output

# scratch space
/tmp/

# Ignore the web directory, i.e. the web pages
web/

# Ignore build/publish scripts, etc.
git-tag-and-bump-and-rebuild.sh
Makefile

# `npm install jison` doesn't need any submodules: ignore them!
.gitmodules

# misc files which are used during development
Vagrantfile
__patch_require.js
/modules/

# extra documentation (WIP)
book-using-jison-beyond-the-basics/
book.json
.bookignore

# no examples wanted
/examples/

# test set & test rig
/tests/
/test-npm-install/

# jscs et al config files:
.js*
.travis*
